aiofiles==0.7.0
appdirs==1.4.4
beautifulsoup4==4.9.3
blinker==1.4
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
h11==0.12.0
h2==4.0.0
hpack==4.0.0
Hypercorn==0.11.2
hyperframe==6.0.1
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
priority==1.3.0
pydantic==1.8.2
pyee==8.1.0
pyppeteer==0.2.5
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
starlette==0.14.2
toml==0.10.2
tqdm==4.60.0
typing-extensions==3.10.0.0
urllib3==1.26.5
websockets==9.1
Werkzeug==2.0.1
wsproto==1.0.0
Flask==2.0.1aiofiles==0.7.0
appdirs==1.4.4
beautifulsoup4==4.9.3
blinker==1.4
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
Flask==2.0.1
gunicorn==20.1.0
h11==0.12.0
h2==4.0.0
hpack==4.0.0
Hypercorn==0.11.2
hyperframe==6.0.1
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
nest-asyncio==1.5.1
priority==1.3.0
pydantic==1.8.2
pyee==8.1.0
pyppeteer==0.2.5
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
starlette==0.14.2
toml==0.10.2
tqdm==4.60.0
typing-extensions==3.10.0.0
urllib3==1.26.4
websockets==8.1
Werkzeug==2.0.1
wsproto==1.0.0
aiofiles==0.7.0
appdirs==1.4.4
beautifulsoup4==4.9.3
blinker==1.4
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
Flask==2.0.1
gunicorn==20.1.0
h11==0.12.0
h2==4.0.0
hpack==4.0.0
hyperframe==6.0.1
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
nest-asyncio==1.5.1
priority==1.3.0
pydantic==1.8.2
pyee==8.1.0
pyppeteer==0.2.5
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
starlette==0.14.2
toml==0.10.2
tqdm==4.60.0
typing-extensions==3.10.0.0
urllib3==1.26.4
websockets==8.1
Werkzeug==2.0.1
wsproto==1.0.0
